@model IndexModel
<h1 class="display-4">Welcome Commander!</h1>
<p>You have @Model.LoggedInUserJournalCount.ToString("n0") journals stored with us!</p>
<p>Your journals are automatically published to EDDN.</p>
<p>Other than that, we don't have any apps we're connected to, but you can download your journals at least!</p>

@if (Model.LoggedInUser.SkipDownload)
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Trouble downloading journals</h4>
        <p>Your account currently has some issues with downloading journals.</p>
        <p>Please contact NoLifeKing#6976 on <a href="https://discord.gg/aYwysrb66b" target="_blank" rel="nofollow">Discord</a></p>
    </div>
}
<hr />
<h3>Global stats</h3>
<ul class="index-stats">
    <li id="stat-usercount">@Model.UserCount.ToString("n0") users registered</li>
    <li id="stat-journalcount">@Model.TotalUserJournalCount.ToString("n0") journals saved</li>
    <li id="stat-journallines">@Model.TotalUserJournalLines.ToString("n0") lines of journal</li>
</ul>