@model IndexModel
<h1 class="display-4">Welcome to Journal Limpet</h1>
<p>This project aims to store the player journals from Elite: Dangerous</p>
<p>Currently we have</p>
<ul class="index-stats">
    <li id="stat-usercount">@Model.UserCount.ToString("n0") users registered</li>
    <li id="stat-journalcount">@Model.TotalUserJournalCount.ToString("n0") journals saved</li>
    <li id="stat-journallines">@Model.TotalUserJournalLines.ToString("n0") lines of journal</li>
    <li id="stat-starsystems">@Model.TotalStarSystemCount.ToString("n0") star systems</li>
</ul>
<hr />
<p>So, a quick little intro about Journal Limpet..</p>
<ul>
    <li>Stores your journal logs for a longer time than Frontier stores them through their API</li>
    <li>Gives you access to download these journals at any given time</li>
    <li>No need to create a new account or anything, just log in with your Frontier credentials</li>
    <li>Automatic submission of your journals to EDDN</li>
</ul>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Authentication problems: Epic Games</h4>
    <p>Currently Frontier has an issue where the commanders lose access to the cAPI after they've stopped playing for a while.</p>
    <p>As of now, we are setting those accounts on hold for journal downloads until we have a better solution.</p>
</div>