@page
@model Journal_Limpet.Pages.FAQModel
@{
}
<h1>Frequently Asked Questions</h1>
<hr />
<h2>How many historical journals can I expect to get when I register on Journal Limpet?</h2>
It really depends on how active you are, but in accordance with how we're supposed to use the API from Frontier, we only pull the last 25 days (today - 25 days).
<br />
And if you don't login when we send the notification email that you need to login in for us to be able to download more journals, you might miss some journals in the gap.
<br />
<br />
<h2>Can I upload journals?</h2>
Not yet™️. But I will look at it at least, just gotta figure out a few things first.
<br />
<br />
<h2>How many journals will I be able to store? What is the maximum limit?</h2>
Uh.. I don't know yet. I bought a storage server to be able to handle up to ~16TB journals. So it'll probably be decided on as time goes on, and I figure out other ways to handle/store them.<br />
<br />
<br />
<h2>Are the journals that you store 100% complete?</h2>
Sadly not all journals are 100% complete if you'd compare them to your own local files (if you're on PC).<br />
I can't say why this is the case, because I'm only fetching the data that I can from the API, so what I have, is what I get from Frontier/Elite: Dangerous.<br />
<br />
<br />
<h2>Do you send data to &lt;THIS_SERVICE_NAME&gt;?</h2>
Oh boy, I don't know.. It depends if I have built an integration for it, which you can find under your <a asp-area="" asp-page="/Settings">Settings</a>.<br />
But currently we have integrations with:<br />
<br />
<ul>
    <li>EDDN - Journal Schema</li>
    <li>EDSM - Journal transfer</li>
    <li>Canonn Research - Journal transfer</li>
</ul>
.. and if you know some cool service that totally needs some awesome centralized journal data sent to them, feel free to open an issue at <a href="https://github.com/itssimple/journal-limpet/issues/new/choose" target="_blank">our GitHub</a>.