@page
@model IndexModel
@{
    ViewData["Title"] = "Main";
}

    <div class="jumbotron">
        @if(!User.Identity.IsAuthenticated)
        {
            await Html.RenderPartialAsync("_IndexUnauthenticated");
        }
        else
        {
            await Html.RenderPartialAsync("_IndexAuthenticated");
        }
    </div>
