@page
@model IndexModel
@{
    ViewData["Title"] = "Main";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Journal Limpet</h1>
    <p>This project aims to store the player journals from Elite: Dangerous</p>
    <p>Currently we have @Model.UserCount users registered!</p>
</div>
