@page "{title?}"
@model Journal_Limpet.Pages.NewsModel
@{
    ViewData["Title"] = "News";

    // Change this to work with files instead
    // Load news from /news-folder (markdown)

    string ReplaceVariables(string feedItem)
    {
        return feedItem
            .Replace("$rssUrl$", Url.ActionLink("NewsFeed", "Rss", null, HttpContext.Request.Scheme, HttpContext.Request.Host.ToString()));
    }
}
<h1>News and changes in Journal Limpet</h1>
<hr />
@foreach (var article in Model.Items)
{
    <h2>
        <a href="@article.Link" class="text-white">@article.Title</a>
        <br />
        <small class="text-muted">@article.PubDate.DateTime.ToString("yyyy-MM-dd") </small>
    </h2>
    @Html.Raw(ReplaceVariables(article.Description))
    <hr />
    <br />
}