@page "{year:length(4):int?}/{month:range(1,12)?}/{day:range(1,31)?}/{title?}"
@model Journal_Limpet.Pages.NewsModel
@{
    ViewData["Title"] = "News";

    // Change this to work with files instead
    // Load news from /news-folder (markdown)
}
<h1>News and changes in Journal Limpet</h1>
<hr />
<h2>2021-01-18</h2>
<ul>
    <li>Added setting to give the option to turn off EDDN sync</li>
</ul>

<h2>2021-01-08</h2>
<ul>
    <li>Added news page, that will contain (when I remember) news and updates</li>
</ul>

<h2>2021-01-07</h2>
<ul>
    <li>Published EDSM integration, so you can get your journals pushed automatically to EDSM from Journal Limpet</li>
</ul>