@page
@{
    ViewData["Title"] = "Privacy policy";
}

<h1>
    Privacy policy
    <small class="text-muted">and other important stuff</small>
</h1>
<hr />
<p>
    I have no idea what I <em>need</em> to write here, but we use cookies to handle sessions and ability to check that the login against Frontier is valid.
</p>
<p>
    We also potentially store your email (if you do enter this into the settings, manually),
    and the only automated communication we will ever do is when we need to contact you about something that needs to be done with Journal Limpet and your account.
</p>
<p>
    I might change these later on, when people tell me that I can't write things like this in a privacy policy.
</p>