@page
@model Journal_Limpet.Pages.ReauthRequiredModel
@{
    ViewData["Title"] = "Re-authentication required";
}

<h1>Re-authentication required</h1>

<p>It looks like your API token has expired and cannot be re-newed any longer.</p>
<p>To fix that, you have to login to Frontier again (through this <a href="/login" target="_self" title="Login through Frontier">link</a>)</p>