@page
@model Journal_Limpet.Pages.SettingsModel
@{
    ViewData["Title"] = "User settings";
}

<h1>User settings</h1>
<p><em>For now we only have a small few settings (like where notifications should go)</em></p>
<hr />
<form method="post">
    <div class="form-group">
        <label asp-for="NotificationEmail">Notification email (optional)</label>
        <input type="email" asp-for="NotificationEmail" placeholder="Notification email" class="form-control" autocomplete="" />
        <small class="form-text text-info">The notification email is used to tell you if you need to log in to Journal Limpet (in case the API token is revoked or for some reason couldn't be refreshed)</small>
    </div>
    <hr />
    <fieldset>
        <h2>Integration settings</h2>
        <small class="form-text text-info">These settings will control all the available integrations that we have made for use with Journal Limpet!</small>
        <hr />
        <h4>Elite: Dangerous Data Network (<a href="https://github.com/EDCD/EDDN/blob/master/README.md" target="_blank">EDDN</a>) - Journal import</h4>
        <small class="form-text text-info">By having this integration enabled, you will send your journals to EDDN. If you are already using software that does this (<a href="https://github.com/EDCD/EDMarketConnector/wiki" target="_blank">EDMC</a> and others), it is safe to turn this off.</small>
        <small class="form-text text-info">EDDN is one of the most used data sources for Elite: Dangerous third party applications</small>
        <br />
        <div class="form-group">
            <label asp-for="EDDNEnabled">
                <input type="checkbox" asp-for="EDDNEnabled" />
                Enabled
            </label>
        </div>
        <hr />
        <h4>Elite Dangerous Star Map (<a href="https://www.edsm.net" target="_blank">EDSM</a>) - Journal import</h4>
        <small class="form-text text-info">Enabling this integration, will send your journals automatically to <a href="https://www.edsm.net/" target="_blank">Elite Dangerous Star Map (EDSM)</a>.</small>
        <small class="form-text text-info">You can find these details in the <a href="https://www.edsm.net/en/settings/api" target="_blank">API key-page on EDSM</a></small>
        <br />
        <div class="form-group">
            <label asp-for="EDSM.CommanderName">EDSM Commander name</label>
            <input type="text" placeholder="EDSM Commander name" asp-for="EDSM.CommanderName" class="form-control" autocomplete="off" />
        </div>
        <div class="form-group">
            <label asp-for="EDSM.ApiKey">EDSM Api key</label>
            <input type="text" placeholder="EDSM Api key" asp-for="EDSM.ApiKey" class="form-control" autocomplete="off" />
        </div>
        <div class="form-group">
            <label asp-for="EDSM.Enabled">
                <input type="checkbox" asp-for="EDSM.Enabled" />
                Enabled
            </label>
        </div>
        <hr />
        <h4>Canonn R&amp;D - Journal import</h4>
        <small class="form-text text-info">If you enable this integration, we will send your journals to Canonn R&amp;D, more specifically the <code>SAASignalsFound</code>, <code>CodexEntry</code> and some <code>Docked</code>-events</small>
        <br />
        <div class="form-group">
            <label asp-for="CanonnRD.Enabled">
                <input type="checkbox" asp-for="CanonnRD.Enabled" />
                Enabled
            </label>
        </div>
    </fieldset>
    <hr />
    <input type="submit" value="Save changes" class="btn btn-secondary" />
</form>